<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fixedLayout.css">
    <title>Fixed Layout</title>
</head>

<body>
    <div class="container">
    <header>
        <img src="./Profile_avatar_placeholder_large.png" alt="user">
        <h1> Howard Alexander</h1>
        <small>Designer at BitLayouts</small>

    </header>
    <aside>
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam id, ut hic aspernatur quae optio odit!
            Nobis provident consequuntur beatae dignissimos ea libero laudantium quibusdam amet molestias, placeat, unde
            eaque pariatur totam fugiat natus sed. Mollitia incidunt blanditiis nam optio commodi sint architecto ipsum,Nobis provident c
            aque pariatur totam fugiat natus sed. Mollitia incidunt blandit
            aliquid, e tempora?</p>
    </aside>
    <main>
        <article>
            <h3>Post No 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam id, ut hic aspernatur quae optio
                odit! Nobis provident consequuntur beatae dignissimos ea libero laudantium quibusdam amet molestias,
                placeat, unde eaque pariatur totam fugiat natus sed. Mollitia incidunt blanditiis nam optio commodi sint Nobis provident consequuntur beatae dignissimos ea libero laudantium quibusdam amet molestias, placeat, unde
                eaque pariatur totam fugiat natus sed. Mollitia incidunt blanditiis nam optio commodi sint architecto ipsum,
                architecto ipsum, aliquid, consectetur, reprehenderit veniam repudiandae tempora?</p>
        </article>
       

        <article>
            <h3>Post No 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam id, ut hic aspernatur quae optio
                odit! Nobis provident consequuntur beatae dignissimos ea libero laudantium quibusdam amet molestias, Nobis provident consequuntur beatae dignissimos ea libero laudantium quibusdam amet molestias, placeat, unde
                eaque pariatur totam fugiat natus sed. Mollitia incidunt blanditiis nam optio commodi sint architecto ipsum,
                placeat, unde eaque pariatur totam fugiat natus sed. Mollitia incidunt blanditiis nam optio commodi sint
                architecto ipsum, aliquid, consectetur, reprehenderit veniam repudiandae tempora?</p>
        </article>

    </main>

</div>

</body>

</html>