<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./responsiveLayout.css" />
    <title>Responsive Layout</title>
  </head>
  <body>
    
      <h1>Bit Layouts</h1>
    <div class="container">
      <div class="first">
        <img
          src="./imageonline-co-placeholder-image (1).jpg"
          alt="Header Image"
        />
      </div>
   
        <ul>
          <li>Home</li>
          <li>Profile</li>
          <li>About</li>
        </ul>
      
      <div class="second">
        <img src="./placeholder.jpg" alt="" />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque
          reiciendis, quas deleniti inventore, illo iure consequatur voluptatum
          nihil vitae, quia sapiente officia ducimus debitis sit cumque ullam
          illum ipsum optio.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque
          reiciendis, quas deleniti inventore, illo iure consequatur voluptatum
          nihil vitae, quia sapiente officia ducimus debitis sit cumque ullam
          illum ipsum optio.
        </p>
      </div>
      <div class="second">
        <img src="./placeholder.jpg" alt="" />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque
          reiciendis, quas deleniti inventore, illo iure consequatur voluptatum
          nihil vitae, quia sapiente officia ducimus debitis sit cumque ullam
          illum ipsum optio.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque
          reiciendis, quas deleniti inventore, illo iure consequatur voluptatum
          nihil vitae, quia sapiente officia ducimus debitis sit cumque ullam
          illum ipsum optio.
        </p>
      </div>
      <div class="second">
        <img src="./placeholder.jpg" alt="" />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque
          reiciendis, quas deleniti inventore, illo iure consequatur voluptatum
          nihil vitae, quia sapiente officia ducimus debitis sit cumque ullam
          illum ipsum optio.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque
          reiciendis, quas deleniti inventore, illo iure consequatur voluptatum
          nihil vitae, quia sapiente officia ducimus debitis sit cumque ullam
          illum ipsum optio.
        </p>
      </div>
    </div>
  </body>
</html>
