* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "ProjectFont";
}

@font-face {
  font-family: "ProjectFont";
  src: url(../fonts/Roboto-Medium.ttf);
}
.container {
  width: 100%;
  border: none;
}
ul {
  display: flex;
  padding: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
  color: cornsilk;
  padding: 20px;
}

.title2 {
  color: black;
  margin-left: 5px;
  font-size: 30px;
}

.title {
  color: orange;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  border-left: 3px solid grey;

  font-size: 30px;
  padding: 7px;
}

.home {
  width: 90%;
  flex-direction: column;
  background-color: rgb(62, 146, 202);
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.home li {
  padding: 10px;
}

.welcome {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(./assets/images/images/banner3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}
.welcome h1 {
  text-align: center;
  color: white;
  margin-top: 50px;
}
button {
  background-color: rgb(62, 146, 202);
  color: cornsilk;
  border-radius: 20px;
  padding: 15px;
  margin-top: 30px;
  align-self: center;
  margin-bottom: 50px;
  border: none;
}

.mainText {
  display: flex;
  flex-direction: column;
}
.decor {
  display: flex;
  flex-direction: column;
}
.decor h1 {
  margin-top: 30px;
  align-self: center;
}

.decor img {
  align-self: center;
  width: 150px;
}

.mainText h3 {
  color: rgb(62, 146, 202);
  margin-left: 40px;
}
.mainText blockquote {
  margin-left: 40px;
  margin-top: 20px;
}

.mainText ul {
  list-style-image: url(./assets/images/images/arrow_bullet.png);
  color: black;
  flex-direction: column;
  list-style-position: inside;
}
.mainText ul li {
  align-self: flex-start;
  padding: 10px;
}

.imgAbout img {
  width: 90%;
  margin: 40px;
}
.people {
  display: flex;
  flex-direction: column;
}

.people h1 {
  align-self: center;
}

.people img {
  align-self: center;
  width: 150px;
}
.person {
  background-color: rgb(62, 146, 202);
  padding: 30px;
  margin: 20px;
 
}

.person img {
  border-radius: 50%;
  border-color: blanchedalmond;
  border: 2px solid blanchedalmond;
  padding: 5px;
  float: left;
  width: 15%;
  margin-right: 10px;
}
.person h3 {
  color: black;
  float: left; 
  overflow: hidden;
}


.person p {
  float: left;
  clear: both;
  color: white;
}
.checked {
  color: white;
  padding: 1px;
}
small {
    clear: left;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
}

.contact h1 {
  align-self: center;
}

.contact img {
  align-self: center;
  width: 150px;
}
.box {
  color: seashell;
  width: 100%;
}
.first {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.green {
  background-color: green;
  width: 50%;
  display: inline-block;
}
.green h3 {
  margin-top: 30px;
  width: 100%;
  float: left;
  clear: right;
  text-align: center;
}
.green img {
  width: 30px;
  float: left;
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 15px;
}

.green p {
  margin-top: 100px;
}

.pink {
  background-color: mediumvioletred;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.facebook img {
  width: 50px;
  border-radius: 20%;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 60px;
  background-color: none;
}

.pink h3 {
  align-items: center;
  margin-top: 30px;
}
.second {
  width: 100%;
  display: flex;
  justify-content: center;
}
.blue {
  background-color: royalblue;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blue h3 {
  margin-bottom: 30px;
}

.blue p {
  text-align: center;
}

.house {
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: lightblue;
}

.Mail {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
}

.Mail img {
  align-self: center;
  width: 150px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form input {
  width: 100%;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

footer li {
  padding: 10px;
  color: white;
}
footer p {
  margin-bottom: 20px;
}

.mailUs {
  display: flex;
  flex-direction: column;
}

.mailUs h1 {
  margin-top: 30px;
  align-self: center;
}

.mailUs img {
  align-self: center;
  width: 100px;
}
.form textarea {
  width: 100%;
  margin-top: 10px;
}

.form {
  padding: 10px;
  margin-top: 10px;
}
.form input {
  margin-top: 7px;
}

iframe {
  width: 100%;
}
.form button {
  background-color: orange;
  color: white;
  border: orange;
  padding: 10px;

  border-radius: 0px;
  align-self: flex-start;
}

@media only screen and (min-width: 768px) {
  .home {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    background-color: transparent;
    margin-top: 10px;
  }
  .welcome h1 {
    margin-top: 140px;
    margin-right: 40px;
  }
  header ul {
    justify-content: flex-start;
    position: absolute;
  }
  .title2 {
    color: white;
  }

  .title {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
  }
  .mainText {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .div {
    width: 50%;
  
    
  }
  .imgAbout {
    width: 50%;
    align-items: flex-end;
  }
  .people {
  }

  .people .person {
    width: 40%;
  }
  .form {
    margin-left: 30px;
  }
  .form textarea {
    width: 91%;
  }
  .form input {
    width: 30%;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1200px) {
  .people {
    display: flex;
    flex-direction: row;
  }
  .mainText {
    display: flex;
    flex-direction: row;
  }
  .box {
    display: flex;
    flex-direction: row;
  }
}
