div {
  width: 800px;
  background-color: rgb(247, 240, 240);

  margin: 10px;
  padding: 10px;
  position: absolute;
}

ul {
  list-style-type: none;
  display: flex;
  position: relative;
  background-color: orange;


}
ul li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px;
  padding: 5px;
  position: relative;

}
.li1 {
    background-color: lightgray;
}

.nested {
    display: ;
    background-color: white;
}
