#logoBit {
    margin-left: 300px;
}

#inputField {
    margin-right: 300px;
}

img {
    display: inline-block;
    margin-left: 25%;
    width: 50%;
}

h3 {
    padding-left: 25%;
    padding-right: 25%;
}

p {
    padding-left: 25%;
    padding-right: 25%;
}

body {
    padding-bottom: 120px;
}

.seasons {
    display: inline-block;
    font-weight: bolder;
    font-size: 30px;
    position: absolute;
    top: 120px;
}

li {
    font-weight: normal;
    font-size: 16px;
}

.cast {
    list-style: disc;
    display: inline-block;
    position: relative;
    left: -30px;
    top: 20px;
    font-weight: bolder;
    font-size: 30px;
}


